# Django 웹 프레임워크 및 API
django                      
djangorestframework         
django-cors-headers         
django-markdownify

# 인증 및 보안
PyJWT                       

# 데이터베이스 연동
mysqlclient                 

# 데이터 처리 및 환경 설정
pandas                      
python-dotenv               

# OpenAI
openai

# AWS
boto3

# gunicorn
gunicorn